/*-------------------
    VARIABLES
-------------------*/
:root {
    // Colors
    --primary-color: #0c7cec;
    --secondary-color: #1c1c1c;
    --third-color: #303030;
    // Container size
    --container-size: 62.5rem;
}